# Auth
AUTH_SECRET=xxxxxxxxxxxx
AUTH_GITHUB_ID=xxxxxxxxxxxx
AUTH_GITHUB_SECRET=xxxxxxxxxxxx
AUTH_GOOGLE_ID=xxxxxxxxxxxx
AUTH_GOOGLE_SECRET=xxxxxxxxxxxx

# Email (for Magic Link)
EMAIL_SERVER=smtp://user:pass@smtp.example.com:587
EMAIL_FROM=noreply@dreamscape.io

# Database
DATABASE_URL=postgresql://localhost:5432/dreamscape_auth
